body{
    font-family: Arial, sans-serif;
    background-color: var(black);
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
:root{
    --black: #121212;
    --white: #ffffff;
    --red: #FF4500;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.hero{
    position: relative;
    height: 70vh;
    overflow: hidden;   
}
.hero video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
header{
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%);
    width: 90%;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    box-shadow: 0 0 15px rgba(230, 57, 70, 0.3);
}
header h1{
    color: var(--white);
    font-weight: 700;
}