body{
    font-family: Arial, sans-serif;
    background-color: var(black);
    text-align: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
:root{
    --black: #121212;
    --white: #ffffff;
    --red: #FF4500;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.hero{
    position: relative;
    height: 70vh;
    overflow: hidden;   
}
.hero video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: 15px 0;
    z-index: 1000;
}